<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Opis</label>
    <input [(ngModel)]="invoicePosition.desciption" name="opis" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <pre>{{invoicePosition | json}}</pre>
  </div>
  <div class="form-group">
    <label>Cena netto</label>
    <input [(ngModel)]="invoicePosition.nettoPrice" name="nettoPrice">
  </div>
  <div class="form-check">
    <select [(ngModel)]="invoicePosition.taxValue" name="taxValue" class="form-control" id="select">
      <option value="0">0%</option>
      <option value="8">8%</option>
      <option value="23">23%</option>
    </select>
  </div>
  <span>Cena brutto {{invoicePosition.grossPrice}}</span>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>